<div class="p-20">
  <form [formGroup]="contactForm" (ngSubmit)="saveContact()" >

    <input type="hidden" class="form-control" id="id" formControlName="id">

    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" id="first_name" placeholder="Enter First Name" formControlName="first_name">
      <div *ngIf="contactForm.controls['first_name'].hasError('required') && contactForm.controls['first_name'].touched" class="alert alert-danger">
          <small id="emailHelp" class="form-text text-muted">First Name is required.</small>
      </div>
    </div>
 
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" id="last_name" placeholder="Enter Last Name" formControlName="last_name">
      <div *ngIf="contactForm.controls['last_name'].hasError('required') && contactForm.controls['last_name'].touched" class="alert alert-danger">
          <small id="emailHelp" class="form-text text-muted">Last Name is required.</small>
      </div>
    </div> 

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Email Id" formControlName="email">
      <div *ngIf="contactForm.controls['email'].hasError('required')  && contactForm.controls['email'].touched" class="alert alert-danger">
          <small id="emailHelp" class="form-text text-muted">Email is required.</small>
      </div>
      <div *ngIf="contactForm.controls['email'].hasError('email')" class="alert alert-danger">
          <small id="emailHelp" class="form-text text-muted">Email is not valid.</small>
      </div>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number" formControlName="phone">
      <div *ngIf="contactForm.controls['phone'].hasError('required') && contactForm.controls['phone'].touched" class="alert alert-danger">
          <small id="emailHelp" class="form-text text-muted">Phone is required.</small>
      </div>
      <div *ngIf="contactForm.controls['phone'].hasError('pattern') && contactForm.controls['phone'].touched" class="alert alert-danger">
          <small id="emailHelp" class="form-text text-muted">Phone should be of numeric 10 digit.</small>
      </div>
    </div>

    <div class="form-group">
      <span class="enable">
        <label>Active</label>
        <input type="radio" value="Active" required formControlName="status" />
      </span>
      <span class="disable">
        <label class="inActive">InActive</label>
        <input type="radio" value="Inactive" required formControlName="status"/>
      </span> 
    </div>

    <button *ngIf="!updateContact" [disabled]="!contactForm.valid" type="submit" class="btn btn-primary">Add Contact</button>
    <button *ngIf="updateContact" type="submit" class="btn btn-primary">Update Contact</button>
  </form>
</div>